<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" routerLink="/dashboard">Dashboard</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/create-article" routerLinkActive="active">Create Article</a>
    </li>
  </ul>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/login">Logout</a>
  </div>
</nav>

<div class="container-fluid main-container">
  <router-outlet></router-outlet>
</div>
